<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A.left</key>
    <array>
      <string>A-cy</string>
      <string>Aring</string>
    </array>
    <key>public.kern1.Be-cy</key>
    <array>
      <string>Be-cy</string>
    </array>
    <key>public.kern1.C.left</key>
    <array>
      <string>Es-cy</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.De-cy</key>
    <array>
      <string>Shcha-cy</string>
      <string>Tse-cy</string>
      <string>De-cy</string>
    </array>
    <key>public.kern1.E.left</key>
    <array>
      <string>Ie-cy</string>
    </array>
    <key>public.kern1.Ef-cy</key>
    <array>
      <string>Ef-cy</string>
    </array>
    <key>public.kern1.Ha-cy.left</key>
    <array>
      <string>Ha-cy</string>
    </array>
    <key>public.kern1.Hardsign-cy</key>
    <array>
      <string>Hardsign-cy</string>
      <string>Softsign-cy</string>
    </array>
    <key>public.kern1.O.left</key>
    <array>
      <string>Iu-cy</string>
      <string>O-cy</string>
      <string>Eth</string>
      <string>Ereversed-cy</string>
    </array>
    <key>public.kern1.P.left</key>
    <array>
      <string>Thorn</string>
      <string>Er-cy</string>
    </array>
    <key>public.kern1.T.left</key>
    <array>
      <string>Ge-cy</string>
      <string>Te-cy</string>
    </array>
    <key>public.kern1.U-cy</key>
    <array>
      <string>U-cy</string>
    </array>
    <key>public.kern1.Ze-cy</key>
    <array>
      <string>Ze-cy</string>
      <string>Ve-cy</string>
    </array>
    <key>public.kern1.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
      <string>Ka-cy</string>
    </array>
    <key>public.kern1.ain.isol</key>
    <array>
      <string>ain-ar</string>
      <string>ghain-ar</string>
    </array>
    <key>public.kern1.alef</key>
    <array>
      <string>alef-ar</string>
    </array>
    <key>public.kern1.be-cy.left</key>
    <array>
      <string>be-cy</string>
    </array>
    <key>public.kern1.de-cy</key>
    <array>
      <string>de-cy</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
    </array>
    <key>public.kern1.es-cy</key>
    <array>
      <string>es-cy</string>
    </array>
    <key>public.kern1.ha-cy</key>
    <array>
      <string>ha-cy</string>
    </array>
    <key>public.kern1.hah</key>
    <array>
      <string>meem-ar</string>
      <string>heh-ar</string>
    </array>
    <key>public.kern1.hardsign-cy</key>
    <array>
      <string>softsign-cy</string>
      <string>hardsign-cy</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>horizontalbar</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.o-cy</key>
    <array>
      <string>ef-cy</string>
    </array>
    <key>public.kern1.o.left</key>
    <array>
      <string>er-cy</string>
      <string>iu-cy</string>
      <string>thorn</string>
      <string>ie-cy</string>
      <string>o-cy</string>
      <string>eth</string>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern1.te-cy</key>
    <array>
      <string>te-cy</string>
      <string>ge-cy</string>
    </array>
    <key>public.kern1.tooth</key>
    <array>
      <string>dal-ar</string>
      <string>seen-ar</string>
      <string>sad-ar</string>
      <string>tah-ar</string>
      <string>fehDotless-ar</string>
      <string>qafDotless-ar</string>
    </array>
    <key>public.kern1.v.left</key>
    <array>
      <string>u-cy</string>
    </array>
    <key>public.kern1.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>ve-cy</string>
    </array>
    <key>public.kern1.zhe-cy</key>
    <array>
      <string>ka-cy</string>
      <string>zhe-cy</string>
    </array>
    <key>public.kern2.A.right</key>
    <array>
      <string>A-cy</string>
      <string>Aring</string>
    </array>
    <key>public.kern2.Che-cy</key>
    <array>
      <string>Che-cy</string>
    </array>
    <key>public.kern2.De-cy</key>
    <array>
      <string>De-cy</string>
    </array>
    <key>public.kern2.Ef-cy</key>
    <array>
      <string>Ef-cy</string>
    </array>
    <key>public.kern2.El-cy</key>
    <array>
      <string>El-cy</string>
    </array>
    <key>public.kern2.Ha-cy.right</key>
    <array>
      <string>Ha-cy</string>
    </array>
    <key>public.kern2.Hardsign-cy.right</key>
    <array>
      <string>Hardsign-cy</string>
    </array>
    <key>public.kern2.Ia-cy</key>
    <array>
      <string>Ia-cy</string>
    </array>
    <key>public.kern2.O.right</key>
    <array>
      <string>Es-cy</string>
      <string>O-cy</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern2.T.right</key>
    <array>
      <string>Te-cy</string>
    </array>
    <key>public.kern2.U-cy</key>
    <array>
      <string>U-cy</string>
    </array>
    <key>public.kern2.Ze-cy</key>
    <array>
      <string>Ereversed-cy</string>
      <string>Ze-cy</string>
    </array>
    <key>public.kern2.Zhe-cy</key>
    <array>
      <string>Zhe-cy</string>
    </array>
    <key>public.kern2.a.right</key>
    <array>
      <string>a-cy</string>
    </array>
    <key>public.kern2.ain.isol</key>
    <array>
      <string>ain-ar</string>
      <string>ghain-ar</string>
    </array>
    <key>public.kern2.be-cy</key>
    <array>
      <string>be-cy</string>
    </array>
    <key>public.kern2.che-cy</key>
    <array>
      <string>che-cy</string>
    </array>
    <key>public.kern2.de-cy</key>
    <array>
      <string>de-cy</string>
    </array>
    <key>public.kern2.el-cy</key>
    <array>
      <string>el-cy</string>
    </array>
    <key>public.kern2.ha-cy</key>
    <array>
      <string>ha-cy</string>
    </array>
    <key>public.kern2.hardsign-cy</key>
    <array>
      <string>hardsign-cy</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>horizontalbar</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.ia-cy</key>
    <array>
      <string>ia-cy</string>
    </array>
    <key>public.kern2.n.right</key>
    <array>
      <string>iishort-cy</string>
      <string>en-cy</string>
      <string>er-cy</string>
      <string>ka-cy</string>
      <string>iu-cy</string>
      <string>sha-cy</string>
      <string>ii-cy</string>
      <string>yeru-cy</string>
      <string>em-cy</string>
      <string>softsign-cy</string>
      <string>ge-cy</string>
      <string>pe-cy</string>
      <string>ve-cy</string>
      <string>tse-cy</string>
      <string>shcha-cy</string>
    </array>
    <key>public.kern2.o-cy</key>
    <array>
      <string>ef-cy</string>
    </array>
    <key>public.kern2.o.right</key>
    <array>
      <string>ie-cy</string>
      <string>ccedilla</string>
      <string>es-cy</string>
      <string>o-cy</string>
    </array>
    <key>public.kern2.reh</key>
    <array>
      <string>reh-ar</string>
      <string>zain-ar</string>
    </array>
    <key>public.kern2.te-cy</key>
    <array>
      <string>te-cy</string>
    </array>
    <key>public.kern2.v.right</key>
    <array>
      <string>u-cy</string>
    </array>
    <key>public.kern2.ze-cy</key>
    <array>
      <string>ze-cy</string>
      <string>ereversed-cy</string>
    </array>
    <key>public.kern2.zhe-cy</key>
    <array>
      <string>zhe-cy</string>
    </array>
  </dict>
</plist>
