<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>F</key>
    <dict>
      <key>public.kern2.A.right</key>
      <integer>-20</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.T.right</key>
      <integer>-60</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>40</integer>
      <key>public.kern2.de-cy</key>
      <integer>30</integer>
    </dict>
    <key>be-cy</key>
    <dict>
      <key>public.kern2.Zhe-cy</key>
      <integer>-10</integer>
    </dict>
    <key>colon</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-10</integer>
      <key>public.kern2.che-cy</key>
      <integer>-10</integer>
    </dict>
    <key>prime</key>
    <dict>
      <key>prime</key>
      <integer>-62</integer>
    </dict>
    <key>prime.ssty1</key>
    <dict>
      <key>prime.ssty1</key>
      <integer>-74</integer>
    </dict>
    <key>prime.ssty2</key>
    <dict>
      <key>prime.ssty2</key>
      <integer>-65</integer>
    </dict>
    <key>primeReversed</key>
    <dict>
      <key>primeReversed</key>
      <integer>-62</integer>
    </dict>
    <key>primeReversed.ssty1</key>
    <dict>
      <key>primeReversed.ssty1</key>
      <integer>-74</integer>
    </dict>
    <key>primeReversed.ssty2</key>
    <dict>
      <key>primeReversed.ssty2</key>
      <integer>-65</integer>
    </dict>
    <key>public.kern1.A.left</key>
    <dict>
      <key>J</key>
      <integer>50</integer>
      <key>public.kern2.Che-cy</key>
      <integer>-30</integer>
      <key>public.kern2.De-cy</key>
      <integer>30</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-20</integer>
      <key>public.kern2.El-cy</key>
      <integer>15</integer>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>-20</integer>
      <key>public.kern2.O.right</key>
      <integer>-20</integer>
      <key>public.kern2.T.right</key>
      <integer>-70</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>5</integer>
      <key>public.kern2.che-cy</key>
      <integer>-20</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>-15</integer>
      <key>public.kern2.te-cy</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Be-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-5</integer>
      <key>public.kern2.el-cy</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>5</integer>
      <key>public.kern2.te-cy</key>
      <integer>-15</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C.left</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>15</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>10</integer>
      <key>public.kern2.O.right</key>
      <integer>-20</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>20</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>15</integer>
      <key>public.kern2.che-cy</key>
      <integer>-10</integer>
      <key>public.kern2.de-cy</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.De-cy</key>
    <dict>
      <key>public.kern2.A.right</key>
      <integer>30</integer>
      <key>public.kern2.Che-cy</key>
      <integer>-15</integer>
      <key>public.kern2.De-cy</key>
      <integer>50</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-10</integer>
      <key>public.kern2.El-cy</key>
      <integer>35</integer>
      <key>public.kern2.Ha-cy.right</key>
      <integer>10</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>20</integer>
      <key>public.kern2.U-cy</key>
      <integer>15</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>30</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>5</integer>
      <key>public.kern2.de-cy</key>
      <integer>40</integer>
      <key>public.kern2.el-cy</key>
      <integer>30</integer>
      <key>public.kern2.ha-cy</key>
      <integer>15</integer>
      <key>public.kern2.ia-cy</key>
      <integer>10</integer>
      <key>public.kern2.v.right</key>
      <integer>15</integer>
      <key>public.kern2.ze-cy</key>
      <integer>10</integer>
      <key>underscore</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.E.left</key>
    <dict>
      <key>J</key>
      <integer>60</integer>
      <key>public.kern2.El-cy</key>
      <integer>5</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>10</integer>
      <key>public.kern2.U-cy</key>
      <integer>20</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>20</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.Ef-cy</key>
    <dict>
      <key>public.kern2.A.right</key>
      <integer>-20</integer>
      <key>public.kern2.Che-cy</key>
      <integer>-5</integer>
      <key>public.kern2.De-cy</key>
      <integer>-30</integer>
      <key>public.kern2.El-cy</key>
      <integer>-25</integer>
      <key>public.kern2.Ha-cy.right</key>
      <integer>-15</integer>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>-40</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.T.right</key>
      <integer>-60</integer>
      <key>public.kern2.U-cy</key>
      <integer>-30</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>-30</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-40</integer>
      <key>public.kern2.de-cy</key>
      <integer>-25</integer>
      <key>public.kern2.el-cy</key>
      <integer>-15</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.Ha-cy.left</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>10</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-15</integer>
      <key>public.kern2.O.right</key>
      <integer>-20</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.Hardsign-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-30</integer>
      <key>public.kern2.De-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ha-cy.right</key>
      <integer>-15</integer>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>-15</integer>
      <key>public.kern2.T.right</key>
      <integer>-100</integer>
      <key>public.kern2.U-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-20</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-20</integer>
      <key>public.kern2.te-cy</key>
      <integer>-20</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O.left</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>public.kern2.A.right</key>
      <integer>-20</integer>
      <key>public.kern2.De-cy</key>
      <integer>-10</integer>
      <key>public.kern2.El-cy</key>
      <integer>-5</integer>
      <key>public.kern2.Ha-cy.right</key>
      <integer>-20</integer>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>-10</integer>
      <key>public.kern2.T.right</key>
      <integer>-30</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.P.left</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>ampersand</key>
      <integer>-10</integer>
      <key>public.kern2.A.right</key>
      <integer>-50</integer>
      <key>public.kern2.De-cy</key>
      <integer>-20</integer>
      <key>public.kern2.El-cy</key>
      <integer>-15</integer>
      <key>public.kern2.Ha-cy.right</key>
      <integer>-20</integer>
      <key>public.kern2.che-cy</key>
      <integer>15</integer>
      <key>public.kern2.de-cy</key>
      <integer>-20</integer>
      <key>public.kern2.el-cy</key>
      <integer>-35</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>20</integer>
      <key>public.kern2.te-cy</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.T.left</key>
    <dict>
      <key>ampersand</key>
      <integer>-20</integer>
      <key>public.kern2.A.right</key>
      <integer>-70</integer>
      <key>public.kern2.De-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-60</integer>
      <key>public.kern2.El-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>20</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-15</integer>
      <key>public.kern2.O.right</key>
      <integer>-20</integer>
      <key>public.kern2.T.right</key>
      <integer>20</integer>
      <key>public.kern2.U-cy</key>
      <integer>30</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>12</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>10</integer>
      <key>public.kern2.a.right</key>
      <integer>-80</integer>
      <key>public.kern2.che-cy</key>
      <integer>-35</integer>
      <key>public.kern2.de-cy</key>
      <integer>-50</integer>
      <key>public.kern2.el-cy</key>
      <integer>-50</integer>
      <key>public.kern2.ha-cy</key>
      <integer>-20</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>-15</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-40</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-60</integer>
      <key>public.kern2.n.right</key>
      <integer>-50</integer>
      <key>public.kern2.o-cy</key>
      <integer>-70</integer>
      <key>public.kern2.o.right</key>
      <integer>-70</integer>
      <key>public.kern2.v.right</key>
      <integer>-20</integer>
      <key>public.kern2.ze-cy</key>
      <integer>-50</integer>
      <key>question</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.U-cy</key>
    <dict>
      <key>public.kern2.A.right</key>
      <integer>-40</integer>
      <key>public.kern2.De-cy</key>
      <integer>-30</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-30</integer>
      <key>public.kern2.El-cy</key>
      <integer>-35</integer>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>20</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-30</integer>
      <key>public.kern2.Ze-cy</key>
      <integer>15</integer>
      <key>public.kern2.a.right</key>
      <integer>-35</integer>
      <key>public.kern2.be-cy</key>
      <integer>-40</integer>
      <key>public.kern2.che-cy</key>
      <integer>-20</integer>
      <key>public.kern2.de-cy</key>
      <integer>-100</integer>
      <key>public.kern2.el-cy</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-20</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-50</integer>
      <key>public.kern2.n.right</key>
      <integer>-25</integer>
      <key>public.kern2.o-cy</key>
      <integer>-35</integer>
      <key>public.kern2.o.right</key>
      <integer>-35</integer>
      <key>public.kern2.ze-cy</key>
      <integer>-20</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Ze-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-5</integer>
      <key>public.kern2.De-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ha-cy.right</key>
      <integer>-10</integer>
      <key>public.kern2.U-cy</key>
      <integer>7</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-7</integer>
      <key>public.kern2.che-cy</key>
      <integer>-5</integer>
      <key>public.kern2.de-cy</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.Zhe-cy</key>
    <dict>
      <key>public.kern2.A.right</key>
      <integer>5</integer>
      <key>public.kern2.Che-cy</key>
      <integer>-10</integer>
      <key>public.kern2.De-cy</key>
      <integer>5</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-40</integer>
      <key>public.kern2.El-cy</key>
      <integer>5</integer>
      <key>public.kern2.O.right</key>
      <integer>-5</integer>
      <key>public.kern2.T.right</key>
      <integer>10</integer>
      <key>public.kern2.U-cy</key>
      <integer>30</integer>
      <key>public.kern2.be-cy</key>
      <integer>-20</integer>
      <key>public.kern2.che-cy</key>
      <integer>-20</integer>
      <key>public.kern2.de-cy</key>
      <integer>10</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-10</integer>
      <key>public.kern2.o-cy</key>
      <integer>-15</integer>
      <key>public.kern2.o.right</key>
      <integer>-15</integer>
      <key>public.kern2.te-cy</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.be-cy.left</key>
    <dict>
      <key>public.kern2.el-cy</key>
      <integer>-5</integer>
      <key>public.kern2.ha-cy</key>
      <integer>-10</integer>
      <key>public.kern2.v.right</key>
      <integer>-15</integer>
      <key>public.kern2.ze-cy</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.de-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-15</integer>
      <key>public.kern2.De-cy</key>
      <integer>30</integer>
      <key>public.kern2.El-cy</key>
      <integer>20</integer>
      <key>public.kern2.che-cy</key>
      <integer>-10</integer>
      <key>public.kern2.de-cy</key>
      <integer>20</integer>
      <key>public.kern2.el-cy</key>
      <integer>25</integer>
      <key>public.kern2.te-cy</key>
      <integer>-15</integer>
      <key>public.kern2.v.right</key>
      <integer>10</integer>
      <key>underscore</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.es-cy</key>
    <dict>
      <key>public.kern2.de-cy</key>
      <integer>10</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.ze-cy</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.ha-cy</key>
    <dict>
      <key>public.kern2.o-cy</key>
      <integer>-20</integer>
      <key>public.kern2.o.right</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hardsign-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-70</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ia-cy</key>
      <integer>-20</integer>
      <key>public.kern2.U-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-10</integer>
      <key>public.kern2.che-cy</key>
      <integer>-25</integer>
      <key>public.kern2.ha-cy</key>
      <integer>-20</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-20</integer>
      <key>public.kern2.te-cy</key>
      <integer>-60</integer>
      <key>public.kern2.v.right</key>
      <integer>-30</integer>
      <key>public.kern2.ze-cy</key>
      <integer>-10</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.hyphen.left</key>
    <dict>
      <key>public.kern2.T.right</key>
      <integer>-40</integer>
      <key>public.kern2.U-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-10</integer>
      <key>public.kern2.che-cy</key>
      <integer>10</integer>
      <key>public.kern2.te-cy</key>
      <integer>-20</integer>
      <key>public.kern2.v.right</key>
      <integer>10</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o-cy</key>
    <dict>
      <key>public.kern2.el-cy</key>
      <integer>-5</integer>
      <key>public.kern2.ha-cy</key>
      <integer>-20</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>-10</integer>
      <key>public.kern2.te-cy</key>
      <integer>-10</integer>
      <key>public.kern2.ze-cy</key>
      <integer>-10</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o.left</key>
    <dict>
      <key>public.kern2.ha-cy</key>
      <integer>-20</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>-10</integer>
      <key>public.kern2.te-cy</key>
      <integer>-5</integer>
      <key>public.kern2.v.right</key>
      <integer>-20</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.te-cy</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>-30</integer>
      <key>public.kern2.El-cy</key>
      <integer>-20</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-10</integer>
      <key>public.kern2.a.right</key>
      <integer>-10</integer>
      <key>public.kern2.che-cy</key>
      <integer>15</integer>
      <key>public.kern2.de-cy</key>
      <integer>-40</integer>
      <key>public.kern2.el-cy</key>
      <integer>-30</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>15</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-20</integer>
      <key>public.kern2.o-cy</key>
      <integer>-10</integer>
      <key>public.kern2.o.right</key>
      <integer>-10</integer>
      <key>public.kern2.te-cy</key>
      <integer>30</integer>
      <key>public.kern2.v.right</key>
      <integer>10</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.v.left</key>
    <dict>
      <key>public.kern2.el-cy</key>
      <integer>-15</integer>
      <key>public.kern2.hardsign-cy</key>
      <integer>10</integer>
      <key>question</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.ze-cy</key>
    <dict>
      <key>public.kern2.Ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.U-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Zhe-cy</key>
      <integer>-10</integer>
      <key>public.kern2.ha-cy</key>
      <integer>-10</integer>
      <key>public.kern2.te-cy</key>
      <integer>-10</integer>
      <key>public.kern2.zhe-cy</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.zhe-cy</key>
    <dict>
      <key>public.kern2.Che-cy</key>
      <integer>-10</integer>
      <key>public.kern2.Ef-cy</key>
      <integer>-15</integer>
      <key>public.kern2.U-cy</key>
      <integer>-10</integer>
      <key>public.kern2.a.right</key>
      <integer>-5</integer>
      <key>public.kern2.che-cy</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen.right</key>
      <integer>-10</integer>
      <key>public.kern2.ia-cy</key>
      <integer>-10</integer>
      <key>public.kern2.o-cy</key>
      <integer>-20</integer>
      <key>public.kern2.o.right</key>
      <integer>-20</integer>
      <key>public.kern2.te-cy</key>
      <integer>15</integer>
      <key>public.kern2.v.right</key>
      <integer>15</integer>
      <key>public.kern2.ze-cy</key>
      <integer>5</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.Hardsign-cy.right</key>
      <integer>20</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>public.kern2.De-cy</key>
      <integer>70</integer>
      <key>public.kern2.El-cy</key>
      <integer>30</integer>
      <key>public.kern2.che-cy</key>
      <integer>-70</integer>
      <key>public.kern2.de-cy</key>
      <integer>60</integer>
      <key>public.kern2.v.right</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
